<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
            </div>
            <div class="modal-body custom-scroll terms-body">
                <div id="left">
                    <h1>
                        Hostel Nevigator (Reservation System)
                    </h1>
                    <h2>Introduction</h2>
                    <p>These are the terms and conditions that govern all bookings made through our booking services, whether through our websites, mobile websites, mobile applications or our booking engine, which is integrated into third party websites (collectively the "HostelNevigator Sites").</p>
                    <p>You agree to use the HostelNevigator Sites in accordance with and subject to these Terms. If you do not accept these Terms, please do not use the HostelNevigator Sites and do not make a register Hostel via the HostelNevigator Sites.</p>
                 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" id="i-agree">
                    <i class="fa fa-check"></i> I Agree
                </button>

                <button type="button" class="btn btn-danger pull-left" id="print">
                    <i class="fa fa-print"></i> Print
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->